  HOST = 
  USER = 
  DATABASE = 
  PASSWORD =
  KEY = 

   1 "word": "node ./src/subtitle/addWordFolder.js",                       // Скачування слів в папки по буквах

   2 "subtitle": "node ./src/subtitle/allFunction.js",                     // Скрипт запуску функцій по скачуванню субтитрів 

   3 "fetch": "node ./src/newFetch/fetchAddCicle.js",                      // Скачує дані до відео з ключем. Перегляди лайки довжина

   4 "history": "node ./src/addHistoryYoutube/addHistoryYoutube.js",       // Створює таблицю video_user_id та пушить в неї відео історії користувача

   5 "arrHistory": "node ./src/array/arrHistory.js",                       // Очікує на появу масиву з історією та коли появляється відправляє його в addHistoryYoutube.js та видаляє його

   6 "openZip": "nodemon ./src/openZip/openZip.js",                           // Розпаковує ZIP файл та закидує дані в проект дял подальших дій а сам ZIP зберігає в архів
 
   7 "renameZip": "nodemon ./src/openZip/renameZip.js",                       //  Переіменовує ZIP файл при скачуванні для розпаковки

   8 "saveUserZip": "nodemon ./src/openZip/saveUserZip.js",                   //  Зберігає історію

   9 "userTable": "node ./src/subtitle/wordsTableUsers/userTable",         //   Запис папок по буквах, окремо користувачів 
   
   10 "updateHistory": "node ./src/updateHistory/updateHistory.js",         //   Цикл обновлення історії

    11. "createChannel": "node ./src/createChannel/addDbChannel.js",         // тсворення каналу при реєстрації
   
    12. % node ./src/userPlayLists/create_play_list.js                      // створення токена для плейліста
