  HOST = 
  USER = 
  DATABASE = 
  PASSWORD =
  KEY = 

   1 "word": "node ./src/subtitle/addWordFolder.js",                       // Скачування слів в папки по буквах

   2 "subtitle": "node ./src/subtitle/workWithVideoSubtitle/allFanction.js",                     // Скрипт запуску функцій по скачуванню субтитрів 

   3 "fetch": "node ./src/newFetch/fetchAddCicle.js",                      // Скачує дані до відео з ключем. Перегляди лайки довжина

   4 "history": "node ./src/addHistoryYoutube/addHistoryYoutube.js",       // Створює таблицю video_user_id та пушить в неї відео історії користувача

   5 "arrHistory": "node ./src/arrHistory/arrHistory.js",                       // Очікує на появу масиву з історією та коли появляється відправляє його в addHistoryYoutube.js та видаляє його

   6 "openZip": "node ./src/openZip/openZip.js",                           // Розпаковує ZIP файл та закидує дані в проект дял подальших дій а сам ZIP зберігає в архів
 
   - "renameZip": "nodemon ./src/openZip/renameZip.js",                       //  Переіменовує ZIP файл при скачуванні для розпаковки

   - "saveUserZip": "nodemon ./src/openZip/saveUserZip.js",                   //  Зберігає історію

   7 "userTable": "node ./src/subtitle/wordsTableUsers/userTable",         //   Запис папок по буквах, окремо користувачів 
   
   8 "updateHistory": "node ./src/updateHistory/updateHistory.js",         //   Цикл обновлення історії

    11. "createChannel": "node ./src/createChannel/addDbChannel.js",         // тсворення каналу при реєстраці

    11+ node ./src/key/create/db_user                                          // Створення КЛЮЧА
    
    11+ node ./src/key/activation/processUsers.js                                    // авторизація ключа в ютюб v3                                 

    12. node ./src/api/server.js                                                         // SERVER 3000
   
    13. % node ./src/autoTokenCreateAndUpdate/authorize/authorize.js     (ЗАПУСТИ СЕРВЕР localhost:3000)                  // створення токена для плейліста

    14. node ./src/autoTokenCreateAndUpdate/startAutoToken_token/autoUpdate            //  auto Update Token

    15. node ./src/cartoon/channel/addChanenlsDB                                       // Додавання каналів в таблицю channel

    16. node ./src/cartoon/videoDb/addCartoonDB                                         // Додавання мультфільмів в таблицю cartoon
   
    17. node ./src/cartoon/virtualUsrCartoon/createHistoriFile.js                       // Записувати нові відео в файл JSON (ВІРТУАЛЬНА ІСТОРІЯ МУЛЬТФІЛЬМІВ)
    
    #

    18. node ./src/cartoon/#usersVirtual/relevansVideos.js                             // записуємо та відсортовуємо #відео в унікальний масив

    19. node ./src/cartoon/#usersVirtual/createTagJson                                //  добавляння  і комбінування в файл JSON  обєктів історії відео по хештегу